
@{
   // Layout = "~/Views//Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>微来时空</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="~/Content/amazeui.css">
    <link rel="stylesheet" href="~/Content/app.css">
    <!--<link rel="stylesheet" href="/Public/assets/css/index.css">-->
    <!--必要样式-->
    <style>
    </style>
</head>

<body>
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="http://www.7893927.cn/Home/Index" class="">
                <img src="~/Img/left.png" alt="" style="margin: 5px">
            </a>
        </div>


        <h1 class="am-header-title">
            <a href="#title-link" class="">
                游戏说明
            </a>
        </h1>

    </header>

    <div class="am-g">
        <div class="am-u-sm-12">
            <p><span style="color: rgb(192, 80, 77);"><strong>比赛开始前请务必请用户注册王者荣耀助手，并将助手ID号提交给客服。</strong></span></p><p><font color="#c0504d"><b>每场比赛需要消耗指定的钻石作为比赛报名费用。</b></font></p><p><span style="color: rgb(192, 80, 77);"><strong><br></strong></span></p><h2 style="text-align: center;">自由擂台赛</h2><p>1.请用户双方，自行协商人数与地图【1v1,3v3,5v5】，钻石数，并通过平台提供的信息联系对方后进入王者荣耀开设自定义房间，进行比赛。</p><p>2.进入擂台后选择打擂，系统将提供双方对战信息，请双发及时互相联系，若超时未联系者，用户可想客户联系解散房间，并给与超时者相应的处罚。</p><p>3.比赛过程中，若发现对方不是实际段位，或者游戏昵称等资料不真实的情况下，可以向裁判发起维权。</p><p>4.比赛结束后，胜利方请及时上传比赛胜利截图至平台，失败方无须操作，若恶意上传假图，导致评定出错，则用户将收到相应处罚，严重者封号处理。</p><p>5.用户自由擂台每局平台将收取固定的擂台报名费。</p><h2 style="text-align: center;">官方排位奖金擂台</h2><p>1月29日——2月10日，由于赛季初段位设置变化如下：【王者、星耀、钻石段位可以参加，若铂金段位必须有钻石以上段位多排，若发现刻意降低段位取消比赛资格并当局判定失败】</p><p>1.系统擂台暂时只开放段位为【王者、星耀、段位可以参加，若钻石段位必须有星耀以上段位多排，若发现刻意降低段位取消比赛资格并当局判定失败】</p><p>2.请用户注意开局必须使用王者荣耀5V5排位对战，若模式不对平台均评定为无效！</p><p>2.请用户注意开局必须使用王者荣耀5V5排位对战，并选择【单排】，或者双排，</p><p>&nbsp; 若需要双排以上、多人排需要找客服报备同意以后方可进行多排！（擅自进行多排系统将判定违规扣除钻石）</p><p>3.请用户请勿使用小号或者代练（异常IP地址）一经发现警告扣除钻石，再次发现封号处理！</p><p>4.在开始游戏前请核对用户在平台使用的账号，游戏昵称，微信，QQ是否与王者荣耀游戏一直，若不一直导致无法判定，由玩家承担后果！</p><p>5.请用户在进入擂台后5分钟内开始进入王者荣耀开始匹配，超时系统将自动判定用户放弃比赛，并不退还钻石。</p><p>6.请用户在王者荣耀匹配结束后，无论胜利或失败请在5分钟内上传比赛结果。</p><p>7.平台对局奖励钻石计算说明：</p><p>a.排位赔率 1：0.5（详情可咨询客服）（若出现段位不符合，系统将自动进行调整，严重者取消比赛资格）。</p><p>8.请认准官方微来时空开始擂台为竞猜擂台，若用户自行开设竞猜擂台请等待官方号进入打擂，开启竞猜擂台赛。</p><p><br></p><h2 style="text-align: center;">关于礼品兑换</h2><p>1.每日用户兑换礼品次数为3次。</p><p>2.提现时段周一至周五【早上10：00——下午5：30】</p><p>3.提现金额为参与比赛钻石数的3倍。注：防止恶意刷抽奖等行为。</p><p>4.不能恶意充值砖石报名费进行兑换。</p>        <!--后台编辑-->
        </div>
    </div>


    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="~/Script/amazeui.js"></script>
    <script type="text/javascript">

    </script>

</body>
</html>