
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notify</title>
</head>
<body>
    <div> 
        sdssss
    </div>
</body>
</html>
