
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>充值成功</title>
    <script type="text/javascript">
        //setTimeout(function () {
        //    //这个可以关闭安卓系统的手机
        //    document.addEventListener('WeixinJSBridgeReady', function () { WeixinJSBridge.call('closeWindow'); }, false);
        //    //这个可以关闭ios系统的手机
        //    WeixinJSBridge.call('closeWindow');
        //}, 1000)
    </script>
</head>
<body>
    <div> 
        充值成功
    </div>
</body>
</html>
