
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>客服二维码</title>
</head>
<body>
    <div style="align-content:center"> 
        <img src="~/Img/ewmabc.png" />
    </div>
</body>
</html>
